{% extends 'base.html' %}
{% block content %}

<h1><p style="color: #87CEEB">HOLA a la pagina otra vez!!!</p></h1>

<h1>HOLA a la pagina otra vez!!!</h1>
<h2>esta es la Home Full</h2>
<h3>hey ,{{name}}, hola!!!</h3>
<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                search for movie:
            </label>
            <input type="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-ptimary">Search</button>
    </form>
    <p>searching for {{searchTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card">
            <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{movie.title}}</h5>
                <p class="card-text">{{movie.description}}</p>
                <p class="card-text">{{movie.genre}}</p>
                <p class="card-text">{{movie.year}}</p>
                {% if movie.url %}
                    <a href="{{movie.url}}" class="btn btn-primary">Movie Link </a>
                {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}
</div>

{% endblock %}